APP_PORT=8000
APP_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000

MONGODB_URL=

REDIS_URL=redis://127.0.0.1:6379

REDIS_TOKEN_EXPIRATION=86400
REDIS_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=24h

MAIL_USER=
MAIL_PASSWORD=
MAIL_TPL_PATH=templates

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

OUR_API_KEY=XXX
STORAGE_PATH=storage/public

API_LOG_FILENAME=api-logs.log